body{
    background: aquamarine;
}
.container{
    width: 1110px;
    margin: 0 auto;
}
.list{
    display: flex;
}
.adorable{
    margin-left: 80px;
}
.mood{
    display: flex;
}
.mood img{
    
    padding-right: 100px;
}
h1{
    color: hotpink;
}